.todo-form {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
}

.form-control input:focus {
  outline: none;
  border-bottom-color: #ff2058;
}

.todo-form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.edit-form {
  display: flex;
  width: 220px;
  margin: 2rem auto;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  min-height: 150px;
  justify-content: space-between;
  box-sizing: border-box;
}
